body{
    background: url('modelform.avif');
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: auto;
    
  }
  
  /* .navbar-brand span{
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
      color: blueviolet;
      
  }
  .navbar .navbar-nav .nav-item a{
      padding: 15px;
      
  } 
   .navbar .navbar-nav .nav-but{
      padding: 15px;
     
     
  }
  footer h3{
    color: antiquewhite;
    margin-right: 200px;
    text-align: left;
  } */


  /* Navbar start */

#navbar{
  background: white;
  
}

#image{
  margin-left: 50px;
}

#logo{
  font-size: 36px;
  text-shadow: 0px 1px 1px black;
}
#nav-menu{
  padding: 20px;
}


.navbar-toggler span{
  color: yellow;
}
.navbar-nav{
  margin-left: 200px
}


.nav-item .nav-link{
  font-size: 16px;
  font-weight: 550;
  color: black;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.5s ease;
  
  
}

.nav-item .nav-link:hover{
  background: #ffa500;
  color: white;
}

#navbar form a{
  background: orange;
  color: white;
  border: none;
  margin-right: 40px;
}

/* Navbar end */



/* Section Contact Start */
.book{
  background: #f9f9f9;
  padding: 50px;
}
.main-text h1{
  text-align: center;
  text-shadow: 0px 1px 1px black;
  font-weight: 600;
}
.main-text h1 span{
  color: #ffa500;
}
.book .card{
  border-radius: 10px;
  box-shadow: 0px 5px 5px -6px black;
}
.book .row{
  margin-top: 30px;
}
.book form input{
  padding: 20px;
  color: black;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px -6px black;
}
.book form textarea{
  border: none;
  border-radius: 10px;
  resize: none;
  box-shadow: 0px 5px 5px -6px black;
  height: 160px;
}
.book .submit{
  width: 160px;
  font-size: 16px;
  font-weight: 550;
  background: #ffa500;
  color: white;
  margin-top: 10px;
  transition: 0.5s;
}
.book .submit:hover{
  width: 180px;
}
@media (max-width:765px){
  .book{
      padding: 0;
  }
  .main-text h1{
      padding: 20px;
  }
}
/* Section Contact End */



/* Footer Start */
#footer{
  width: 100%;
  margin-top: 150px;
  text-align: center;
  background: #b9a4a4;
}
#footer h1{
  font-weight: 600;
  padding-top: 30px;
  text-shadow: 0px 0px 1px black;
}
#footer h1 span{
  color: #ffa500;
}
.social-links i{
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  background: black;
  color: white;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: 0.5s ease;
  cursor: pointer;
}
.social-links i:hover{
  background: #ffa500;
}
/* Footer End */
